body {
  padding: 100px;
}

.svg-icon {
  width: 100px;
}

.profile-image {
  width: 300px;
  margin-right: 40px;
}

.profile-contact-box {
  display: flex;
}

.contact-ul {
  list-style: none;
  padding: 0;
}

.color-orange {
  color: rgba(217, 115, 13);
}

.job-explain-box {
  display: flex;
}

.work-job-period-box {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.work-job-period-box .my-job {
  margin-bottom: 10px;
}
