p {
  margin: 0;
}

a {
  color: #000;
}

body {
  padding: 80px;
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.page-header {
  display: flex;
  border-bottom: 2px solid #14ae5c;
  justify-content: space-between;
  gap: 10px;
}

.page-title-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 3px;
  padding: 20px 30px;
  background-color: #14ae5c;
  transform: translate(-10px, 2px);
  color: #fff;
}

.page-title {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

.page-subtitle {
  font-weight: 400;
}

.contact-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.introduce-section {
  display: flex;
  justify-content: space-around;
  margin: 30px 0;
}

.profile-image {
  width: 200px;
  height: 200px;
  margin-right: 40px;
  background-image: url('https://velog.velcdn.com/images/mannmae/profile/e338cb0c-6f03-4634-a0f7-fa1a26ac72ea/image.jpeg');
  background-position: left;
  background-size: cover;
}

.introduce {
  font-size: 14px;
  width: 70%;
  line-height: 20px;
}

.introduce strong {
  font-weight: 700;
}

.section-title-container {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #14ae5c;
}

.section-title {
  margin: 0;
  font-size: 25px;
  font-weight: 700;
  color: #14ae5c;
}

.career-badge {
  margin-left: 5px;
  font-size: 12px;
  color: #555;
}

.content-container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
}

.left-vertical-division {
  grid-column: span 3;
}

.company-infomation-box {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.company-name {
  font-weight: 700;
  font-size: 18px;
}

.company-hompage {
  display: block;
  font-size: 12px;
  color: #555;
}

.job-in-company {
  display: block;
  font-weight: 700;
  font-size: 14px;
}

.career-period {
  display: block;
  font-size: 14px;
}
.center-vertical-division {
  grid-column: span 1;
}

.right-vertical-division {
  grid-column: span 5;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.project-number-wrapper {
}

.project-number {
  border-radius: 3px;
  padding: 2px 5px;
  background-color: #14ae5c;
  color: #fff;
  font-size: 14px;
  white-space: nowrap;
}

.project-container {
  display: flex;
  gap: 10px;
}

.project-description {
}

.project-name {
  font-size: 18px;
}

.project-period {
  font-size: 14px;
  line-height: 20px;
}

.proejct-explain {
  font-size: 14px;
  line-height: 20px;
}

.job-list {
  list-style: disc;
  margin: 10px 0 0 20px;
}

.job-list li {
  margin-bottom: 10px;
}

.experience-category {
  font-size: 20px;
  font-weight: 700;
}

.skill-category {
  font-size: 20px;
  font-weight: 700;
  margin: 20px 0 0 20px;
}

.education-infomation-box {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 10px 0 0 20px;
}

.educational-institution {
  font-weight: 700;
  font-size: 18px;
}

.course-name {
  display: block;
  font-weight: 700;
  font-size: 14px;
}

.course-period {
  display: block;
  font-size: 14px;
}

/*  */

.hidden {
  display: none;
}

/* 네비게이션 */
.nav-box {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  right: 10;
  font-size: 12px;
  background-color: #fff;
  border-radius: 5px;
  z-index: 999;
  padding: 10px;
  box-shadow: 1px 1px 5px 5px #999;
}

.nav-box ul {
  margin-top: 10px;
  margin-left: 20px;
  list-style: circle;
}

.nav-box ul li {
  margin-bottom: 10px;
}

.nav-box a {
  color: #555;
}
