p {
  margin: 10px 0;
  font-size: 12px;
  color: #555;
}

body {
  padding: 100px;
  position: relative;
}

.svg-icon {
  width: 100px;
}

.page-title {
  font-size: 35px;
  font-weight: 700;
  margin: 30px 0;
}

.profile-contact-box {
  display: flex;
  margin: 30px 0;
}

.profile-image {
  width: 300px;
  margin-right: 40px;
}

.contact-box {
  padding-top: 20px;
}

.contact-box h3 {
  margin: 15px 0;
  font-size: 20px;
  font-weight: 700;
}

.color-orange {
  color: rgba(217, 115, 13);
}

.contact-ul li strong {
  font-weight: 700;
}

.contact-ul li,
.contact-ul li a {
  margin-bottom: 10px;
  color: #999;
}

.session-title {
  margin: 30px 0;
  font-size: 25px;
  font-weight: 700;
}

.job-explain-box {
  display: flex;
}

.session-div-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.work-job-period-box {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  margin-right: 100px;
}

.work-job-period-box .my-job {
  margin-bottom: 10px;
}

.job-explain-box ul li {
  list-style: disc;
}

.other-experience-box .project-list li h5 {
  font-size: 12px;
  display: inline-block;
}

.other-experience-box .project-list li .project-experiences {
  margin-left: 50px;
}

.other-experience-box .project-list li .project-experiences li {
  list-style: disc;
}

.dev-skill-box {
  margin-bottom: 20px;
}

.dev-skill-box ul li {
  margin-left: 30px;
  list-style: disc;
}

/* 공용 클래스 */
.toggle-list-button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transform: rotate(0deg);
  transition: all 0.5s;
}

.toggle-list-button.clicked {
  transform: rotate(90deg);
  transition: all 0.5s;
}

.hidden {
  display: none;
}

/* 네비게이션 */
.nav-box {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  right: 10;
  font-size: 12px;
  background-color: #fff;
  border-radius: 5px;
  z-index: 999;
  padding: 10px;
  box-shadow: 1px 1px 5px 5px #999;
}

.nav-box ul {
  margin-top: 10px;
  margin-left: 20px;
  list-style: disc;
}

.nav-box ul li {
  margin-bottom: 10px;
}

.nav-box a {
  color: #555;
}
